.alert-box {
  /* padding: 20px 0; */
  background-color: #f44336;
  color: white;
  position: fixed;
  width: 100%;
  top: 0px;
  /* width: 640px; */
  /* margin-left: 26.3%; */
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;
  &--closebtn {
    margin-left: 30px;
    color: white;
    font-weight: bold;
    // font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  &--closebtn:hover {
    color: black;
  }
}
