.login-form__button {
  float: right;
  a {
    text-decoration: none;
  }

  .register-form__button {
    border-radius: 3px;
    margin-top: 8px;
    padding: 8px 20px;
    overflow: hidden;
    text-transform: none;
  }
  .register-form__button:hover {
    background-color: #ddd !important;
    color: black;
  }
}
